<!DOCTYPE html>
<html>
<head>
  <title>Cocospace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Pragati+Narrow' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed|Exo+2|Source+Code+Pro' rel='stylesheet' type='text/css'>
</head>
<body>

<%= react_component('Nav') %>

<%= yield %>

</body>
</html>
